@font-face {
  font-family: Primary;
  src: url(fonts/Poetsen_One/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: Secondary;
  src: url(fonts/Poppins/Poppins-SemiBold.ttf);
}

:root {
  --navbar-height: 71px;
  --row-gap: 20px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #c2b280;
  font-family: Secondary;
  scroll-behavior: smooth;
}

.main-navigation {
  background-color: #3c3838;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  z-index: 999;
}

.main-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation .nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--row-gap);
}

.main-navigation .nav__items {
  display: flex;
  gap: var(--row-gap);
}

.main-navigation .nav__items a {
  text-transform: uppercase;
  font-family: Secondary;
  transition: all ease 300ms;
}
.main-navigation .nav__items a:hover {
  opacity: 0.5;
}

.main-navigation .nav__items a.nav__item.active {
  color: #c2b280;
}

.main-navigation .nav__cta__btn {
  display: inline-block;
  background-color: #000;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all ease 300ms;
  border: 1px solid transparent;
}

.main-navigation .nav__cta__btn:hover {
  border: 1px solid #ffffff;
  background-color: transparent;
}
.main-navigation .nav-logo-text {
  font-family: Primary;
  font-size: 30px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 100px;
}

.main-content {
  margin: var(--navbar-height) 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero {
  display: flex;
  align-items: center;
  gap: 60px;
}

.hero__right,
.hero__left {
  flex: 1;
}

.hero__left {
  align-items: center;
}

.hero__right__img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border: 0;
}
.hero__left .hero__title {
  font-size: 50px;
  font-family: Primary;
  margin-top: 0px;
  margin-bottom: 20px;
}

.hero__left {
  display: flex;
  align-items: center;
}
.hero__subtext {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: justify;
  font-family: Secondary;
}
.hero__cta {
  display: flex;
  max-width: 400px;
  width: 100%;
  /* border: 1px solid red; */
}

.products {
  background-color: #c2b280;
  display: flex;
  align-items: center;
  padding: 100px 0px;
}
.products__title-text {
  text-align: center;
  font-family: FontPrimary;
  letter-spacing: 3px;
}
.products__items {
  display: flex;
  gap: 24px;
  justify-content: center;
  border-radius: 1;
  align-items: center;
}

.products__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(184, 175, 175);
  border-radius: 10px;
  overflow: hidden;
  background-color: #8a6240;
  font-family: Primary;
}

.cats__item_img {
  width: 300px;
  object-fit: cover;
  height: 350px;
}

.hero__leftt {
  display: flex;
  align-items: center;
}
.hero__leftt .hero__titlee {
  font-size: 55px;
  font-family: Primary;
  margin-top: 0px;
  margin-bottom: 20px;
}

.hero__subtextt {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: justify;
}
.hero__leftt,
.products__items {
  flex: 1;
}
.hero__titlee .text-left {
  text-align: center;
  font-family: Primary;
}
.hero_description {
  font-size: 20px;
  font-family: Secondary;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
.jar {
  padding: 0px 20px 0px 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.title_c {
  font-size: 16px;
}

h2 {
  font-size: 45px;
}
p {
  font-size: 22px;
  text-align: left;
  padding: 20px 0px 20px 0px;
  display: block;
}
.items .sub__cta .sub__cta__btn {
  display: inline-block;
  background-color: #000;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all ease 300ms;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
}

.adoption__item__img {
  border-radius: 25px;
  border: #000(184, 175, 175);
  width: 100%;
}

.adoption__items {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(184, 175, 175);
  border-radius: 10px;
  overflow: hidden;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__label {
  height: fit-content;
  border-radius: 2px;
  font-family: Secondary;
  width: 520px;
  height: 36px;
  margin-top: 20px;
}
.items .container {
  display: flex;
  align-items: center;
  padding: 2% 0px;
  /* border: 1px solid red; */
}
.items__left,
.items__right {
  font-family: Primary;
  font-size: 20px;
}
.items__left p {
  font-family: Secondary;
}

.column__center {
  justify-content: center;
  text-align: center;
  font-family: Primary;
  font-size: 25px;
}

.column__center__imgs {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #8a6240;
  border-radius: 20px;
  border: 2px solid rgb(184, 175, 175);
  object-fit: cover;
  max-width: 600px;
  min-height: 350px;
}

.column-text {
  margin-top: 50px;
}

.column-text p {
  font-family: Secondary;
}

.column-five {
  position: relative;
  text-align: center;
  color: black;
  padding: 100px 0px 100px 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Secondary;
}

.footer {
  text-align: center;
  padding: 25px 0px;
}

.card {
  padding: 12px 24px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 100%;
  margin-top: 5px;
}

.card__header__title {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.card__header__title span {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.ellipsis_container {
  display: flex;
  align-items: center;
  gap: 1px;
}

.ellipsis {
  border-radius: 100%;
  background: #000;
  width: 4px;
  height: 4px;
}

.card_footer_description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-top: 12px !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

/* ADOPTION */
.adoption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 71px); /* Subtract the height of the navbar */
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url("image/border.jpg"); /* Adjust the path to the image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.adoption h1 {
  font-size: 30px;
  font-family: "Primary";
  font-weight: 700px;
  text-align: center;
}

.adoption h3 {
  font-size: 15px;
  font-family: "Secondary";
  font-weight: 400px;
  text-align: center;
}

.adoption-button {
  border: none;
  background: #000000;
  color: white;
  padding: 14px 28px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: all ease 300ms;
  border: 1px solid transparent;
  font-family: Primary;
}

.adoption-button:hover {
  background: transparent;
}

.information {
  /*border: 1px solid red;*/
  height: 554px;
  padding: 60px 165px 60px 165px;
  gap: 58px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__title {
  font-size: 35px;
  font-family: Secondary;
  font-weight: 500;
  text-align: left;
  width: 1010px;
  height: 28px;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}
.cta__input {
  border-radius: 6px;
  border: 1px solid #00000080;
  padding: 12px 16px;
}
.info {
  gap: 100px;
  opacity: 0px;
  display: flex;
  border: 1px;
}
.info__left {
  height: 20px;
  margin-top: 12px;
}
.info__right {
  height: 20px;
  margin-top: 12px;
  padding-left: 25px;
}
.info__left .info__right {
  font-size: 16px;
  font-weight: 500;
}
.cta__left {
  height: 36px;
  border-radius: 5px;
  gap: 4px;
  padding-left: 12px;
  margin: 3px;
  border: 1px;
}
.cta__right {
  height: 36px;
  border-radius: 5px;
  gap: 4px;
  padding-left: 12px;
  margin: 3px;
  border: 1px;
}
.cta__left .cta__right {
  font-size: 14px;
  font-weight: 400;
  gap: 120px;
  border: 1px solid #00000080;
}
.form__btn {
  border: none;
  background: #000000;
  color: white;
  padding: 14px 28px;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
  transition: all ease 300ms;
  border: 1px solid transparent;
}
.form__btn:hover {
  background: #00000080;
}

.col-span-2 {
  grid-column: span 2;
}

.pets {
  width: 100%;
  height: 656px;
  gap: 60px;
  display: flex;
  justify-content: center;
}
.pet__title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Primary";
}
.cards {
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__item {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(184, 175, 175);
  border-radius: 10px;
  overflow: hidden;
  background-color: #8a6240;
  font-family: Primary;
  text-align: center;
}
.card__img {
  width: 350px;
  height: 300px;
  background: #d9d9d980;
  background-color: white;
}

.card__title {
  padding: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}
.card__btn {
  border: none;
  background: #000000;
  color: white;
  padding: 14px 28px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: all ease 300ms;
  border: 1px solid transparent;
}
.card__btn:hover {
  background: transparent;
}

/* Carousel */
.carousel {
  position: relative;
  width: 1100px;
  height: 300px;
  overflow: hidden;
  background-color: #cdcdcd;
  margin: 50px auto 25px auto;
  border-radius: 25px;
  border: 5px solid white;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.slide-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-classes-img {
  border-radius: 20px;
  width: 90%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border: 0;
  margin: auto;
}

.flex-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.box {
  width: fit-content;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: #8a6240;
  border-radius: 10px;
  font-size: 25px;
}

.text-center {
  text-align: center;
}

.last-content {
  padding: 50px;
  text-align: center;
  font-family: Primary;
}

.vision {
  padding: 50px;
  margin: 20px;
  text-align: center;
  font-family: Primary;
}

.about-classes {
  padding: 50px;
}

.vision-three {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
}

.vision-three div {
  background-color: white;
  border-radius: 25px;
  padding: 18px 24px;
}
