@font-face {
  font-family: Primary;
  src: url(fonts/Poetsen_One/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: Secondary;
  src: url(fonts/Poppins/Poppins-SemiBold.ttf);
}

:root {
  --navbar-height: 70px;
  --row-gap: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #c2b280;
  font-family: Secondary;
  scroll-behavior: smooth;
}

.main-navigation {
  background-color: #3c3838;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  z-index: 999;
}

.main-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation .nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--row-gap);
}

.main-navigation .nav__items {
  display: flex;
  gap: var(--row-gap);
}

.main-navigation .nav__items a {
  text-transform: uppercase;
  font-family: Secondary;
  transition: all ease 300ms;
}
.main-navigation .nav__items a:hover {
  opacity: 0.5;
}

.main-navigation .nav__cta__btn {
  display: inline-block;
  background-color: #000;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all ease 300ms;
  border: 1px solid transparent;
}

.main-navigation .nav__cta__btn:hover {
  border: 1px solid #ffffff;
  background-color: transparent;
}
.main-navigation .nav-logo-text {
  font-family: Primary;
  font-size: 30px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 100px;
}

.main-content {
  padding-top: var(--navbar-height);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero {
  display: flex;
  align-items: center;
  gap: 60px;
}

.hero__right,
.hero__left {
  flex: 1;
}

.hero__left {
  align-items: center;
}

.hero__right__img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border: 0;
}
.hero__left .hero__title {
  font-size: 50px;
  font-family: Primary;
  margin-top: 0px;
  margin-bottom: 20px;
}

.hero__left {
  display: flex;
  align-items: center;
}
.hero__subtext {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: justify;
  font-family: Secondary;
}
.hero__cta {
  display: flex;
  max-width: 400px;
  width: 100%;
  /* border: 1px solid red; */
}

.products {
  background-color: #c2b280;
  display: flex;
  align-items: center;
  padding: 100px 0px;
}
.products__title-text {
  text-align: center;
  font-family: FontPrimary;
  letter-spacing: 3px;
}
.products__items {
  display: flex;
  gap: 24px;
  justify-content: center;
  border-radius: 1;
  align-items: center;
}

.products__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(184, 175, 175);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  font-family: Primary;
}

.cats__item_img {
  width: 300px;
  object-fit: cover;
  height: 350px;
}

.hero__leftt {
  display: flex;
  align-items: center;
}
.hero__leftt .hero__titlee {
  font-size: 55px;
  font-family: Primary;
  margin-top: 0px;
  margin-bottom: 20px;
}

.hero__subtextt {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: justify;
}
.hero__leftt,
.products__items {
  flex: 1;
}
.hero__titlee .text-left {
  text-align: center;
  font-family: Primary;
}
.hero_description {
  font-size: 20px;
  font-family: Secondary;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
.jar {
  padding: 0px 20px 0px 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.title_c {
  font-size: 16px;
}

h2 {
  font-size: 45px;
}
p {
  font-size: 22px;
  text-align: left;
  padding: 20px 0px 20px 0px;
  display: block;
}
.items .sub__cta .sub__cta__btn {
  display: inline-block;
  background-color: #000;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all ease 300ms;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
}
.adoption__item__img {
  width: 100%;
  display: flex;
  object-fit: cover;
  height: 350px;
  justify-content: right;
  border-radius: 25px;
  border: #000(184, 175, 175);
}
.adoption__items {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(184, 175, 175);
  border-radius: 10px;
  overflow: hidden;
}
.items {
  margin-top: 50px;
  width: 1010px;
  height: 456px;
  padding: 60px 170px 60px 170px;
  gap: 60px;
}
.form__label {
  height: fit-content;
  border-radius: 2px;
  font-family: Secondary;
  width: 520px;
  height: 36px;
  margin-top: 20px;
}
.items .container {
  display: flex;
  align-items: center;
  padding: 2% 0px;
  /* border: 1px solid red; */
}
.items__left,
.items__right {
  font-family: Primary;
  font-size: 20px;
}
.items__left p {
  font-family: Secondary;
}

.cta__input {
  width: 70%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px;
}
.column__center {
  margin-top: 100px;
  justify-content: center;
  text-align: center;
  font-family: Primary;
  font-size: 25px;
}

.column__center__imgs {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  border: 2px solid rgb(184, 175, 175);
  object-fit: cover;
  max-width: 600px;
  min-height: 350px;
}

.column-text {
  margin-top: 5%;
}

.column-text p {
  font-family: Secondary;
}

.column-five {
  position: relative;
  text-align: center;
  color: black;
  padding: 100px 0px 100px 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Secondary;
}

.footer {
  text-align: center;
  padding: 3px 0px 3px 0px;
  height: 100px;
}

.card {
  padding: 12px 24px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 100%;
  margin-top: 5px;
}

.card__header__title {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.card__header__title span {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.ellipsis_container {
  display: flex;
  align-items: center;
  gap: 1px;
}

.ellipsis {
  border-radius: 100%;
  background: #000;
  width: 4px;
  height: 4px;
}

.card_footer_description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-top: 12px !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.pagination a {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.pagination a:hover:not(.active) {
  background-color: #000;
}
